.nav{
    width: 100%;
    background-color: brown;
    overflow: auto;
}
.nav a{
    float: left;
    text-align: center;
    padding: 12px;
    color: burlywood;
    text-decoration: none;
    font-size: 17px;
}
body{
    background-color: burlywood;
    margin: 0;
}
img{
    width: 900px;
    height: 900px;
}