.nav{
    width: 100%;
    background-color: #4b3832	;
    overflow: auto;
}
.nav a{
    float: left;
    text-align: center;
    padding: 12px;
    color: #D0B38D;
    text-decoration: none;
    font-size: 17px;
}
body{
    background-color: #4b3832	;
    margin: 0;
}
img{
    width: 100%;
    height: 100%;
}
.header{
    position: relative;
    text-align: center;
}
.linkedin{
    position: absolute;
    bottom: 105px;
    right: 250px;
}
.instagram{
    position: absolute;
    bottom: 75px;
    right: 250px;
}
.github{
    position: absolute;
    bottom: 40px;
    right: 230px;
}
a{
    color: beige;
}
h1{
    color: white;
    text-align: center;
}
p{
    color: #f3e2cc;
    text-align: center;
    margin: 1px 100px;
    justify-content: space-around;
    text-align: justify;
}
.gallery{
    display: inline flex;
    margin-top: 30px ;
}
.box1{
    width: 30%;
    height: 70%;
    padding: 18px;
    border-radius: 10%;
    display:block;
}
.box{
     display: inline-flex;
}

.overlay{
    background-color: #4b3832;
    transition: .5s ease;
    height:100%;
    position: absolute;
}
.box1:hover .overlay{
    width:100%;
}










